[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs.git
	ignore = dirty
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "shell/bash/liquidprompt"]
	path = shell/bash/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "shell/zsh/zplug"]
	path = shell/zsh/zplug
	url = https://github.com/zplug/zplug
