[submodule "shell/liquidprompt"]
	path = shell/.liquidprompt
	url = https://github.com/nojhan/liquidprompt
[submodule "vim/.vim/bundle/repos/github.com/Shougo/dein.vim"]
	path = vim/.vim/bundle/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "zsh/zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug
